.product-form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
}

.product-form p {
  margin: 0px;
  font-size: x-large;
}

.field {
  display: flex;
  flex-direction: column;
}

.field input {
  height: 30px;
}

.button {
  display: flex;
  flex-direction: row-reverse;
}

.button button {
  width: 150px;
  height: 30px;
}

