.app {
  height: 100vh;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-areas: "header header" "form list" "footer footer";
  grid-template-rows: 100px 1fr 30px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.app-header {
  grid-area: header;
  display: flex;
  align-items: center;
  font-size: xx-large;
}

.app-footer {
  grid-area: footer;
}
